.dateInput{
    width: 200px;
    position: relative;
    margin-top: 5px;
}
.dateInput .iconDate{
    position: absolute;
    width: 10px;
    right: 0px;
    bottom: 12px;
    cursor: text;
}
.error{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
    margin-left: 10px;
    margin-top: 5px;
}
