.error{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
    margin-left: 10px;
    margin-top: 5px;
}
.errorInput{
    margin: 0;
    border: none;
    border: 1px solid red;
}