@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #475666;
    margin-top: 55px;
    margin-bottom: 30px;
}