.contactsForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.select{
    width: 300px;
}
.lang{
    width: 300px;
}
.btn-contacts{
    border: 0px;
    height: 40px;
    background: #5E97F3;  
    color: white;
    padding: 0px 15px;
}