@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.result{
    width: 70%;
    margin: 0 auto;
}
.tabs{
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
}
.tab{
    width: 25%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    background: rgba(151, 186, 244, .2);
    color: #9BB0CB;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    text-decoration: none;
}
.tabClicked{
    width: 25%;
    height: 65px;
    color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(151, 186, 244, .2);
    color: #9BB0CB;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    outline: none;
    text-decoration: none;   
}
.active{
    opacity: 1;
    background: #4E86E4;
    color: white;
    cursor: pointer;
}
