@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body{
    margin: 0px;
}
.headerBackground{
    width: 100%;
    height: 60px;
    margin: 0px;
    background: radial-gradient(50% 28800% at 50% 68.33%, #4E86E4 0%, #2F68C8 100%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.header{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}
.navigation{
    display: flex;
    flex-direction: row;
}
.headerLogo{
    padding-top: 21px;
}
.addUser{
    padding-top: 20px;
    text-decoration: none;
    color: silver;
}
.listOfUsers{
    margin-left: 60px;
    padding-top: 20px;
    text-decoration: none;
    color: silver;
}
.active{
    color: white;
}

