.passInput{
    position: relative;
}
.passInput .icons{
    position: absolute;
    width: 15px;
    cursor: pointer;
    right: 20px;
    bottom: 10px;
}
.error{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
    margin-left: 10px;
    margin-top: 5px;
}
.input{
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    color:  #657C9A;
    border: 1px solid #C1CFE0;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 10px;
    outline: none;
    text-decoration: none;
}
.errorInput{
    margin: 0;
    border: 1px solid red;
}
