.AccountForm{
display: flex;
flex-direction: row;
justify-content: center;
align-content: flex-end;
}
.firstColumn{
display: flex;
flex-direction: column;
margin-right: 10%;
}
.secondColumn{
flex-direction: column;
}
.radio{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.radio>*:first-child{
    margin-right: 30px;
}
.btn-profile{
    border: 0px;
    height: 40px;
    background: #5E97F3;  
    color: white;
    padding: 0px 15px;
}
.input-profile{
    width: 300px;
    height: 40px;
    background: #FFFFFF;
}