@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.tableHead {
    width: 65%;
    margin: 0 auto;
    border-spacing: 0px;
}
.cell{
    width: 20%;
    text-align: center;
}
.trHead{
    background: #4E86E4;
    color : white;
    height: 45px;
    border: 1px solid #4E86E4 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
}
.trTable{
    height: 95px;
}
.noUsers{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    width: 250px;
    margin-top: 200px;
    text-align: center;
    font-family:'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #9BB0CB;
}
.createUser{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 65px;
    background: #5E97F3;
    width: 160px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
}
.buttonTable{
    border: 0;
	outline: none;
	cursor: pointer;
	background: white;
}